// -----------------------------------------------------------------------------
// Basic project styling
// -----------------------------------------------------------------------------

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;

    font-size: 16px;
    font-style: normal;
    font-family: $font-stacks;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    line-height: 1.6250;

    color: $text-color;
}