// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

.latest {
    padding: 50px 0;
    background-color: $yellow;
    color: $black;
    text-align: center;

    h2 {
        margin: 0;
    }
}

.latest__list {
    padding-top: 50px;
}