// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

.latest {
    padding: 50px 0;
    background-color: $yellow;
    color: $text-color;
    text-align: center;
}