// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    margin: 0;
    padding: 0;
}

.header__brand {
    display: block;
    width: 100%;

    > img {
        display: block;
        width: 400px;
        margin: 0 auto;
    }
}